body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
    margin: 0;
}

main {
    margin-top: 16px;
}

section {
    border: 1px solid black;
    padding: 0px 8px;
    margin-bottom: 24px;
    position: relative;
}

.title {
    margin: 0px;
    position: absolute;
    top: -14px;
    left: 10px;
    background-color: white;
}

div {
    margin: 12px 0px 12px;
}